<nav class="navbar navbar-default test">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div> 
<!--
    <a href="/" class="{{#if active_home}}active{{/if}}">
      <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-home"></span></button>
    </a>
    <a href="/likedBooks" class="{{#if active_liked}}active{{/if}}">
    <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-heart"></span></button>
    </a>
    <a href="/friends" class="{{#if active_liked}}active{{/if}}">
    <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-book"></span></button>
    </a>
    <a href="/recommendations" class="{{#if active_liked}}active{{/if}}">
    <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-user"></span></button>
    </a>
-->
    <ul class="nav navbar-nav navbar-bottom">
      <li class="{{#if active_home}}active{{/if}}"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="{{#if active_liked}}active{{/if}}"><a href="/likedBooks"><span class="glyphicon glyphicon-heart"></span></a></li>
      <li class="{{#if active_friends}}active{{/if}}"><a href="/friends"><span class="glyphicon glyphicon-book"></span></a></li>
      <li class="{{#if active_recommendations}}active{{/if}}"><a href="/recommendations"><span class="glyphicon glyphicon-user"></span></a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>