<nav class="navbar navbar-default">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="/">GetRead</a>
    <a href="/recommendations">
      <img src="images/profJin.png" class="userProfPic img img-responsive" width="44px">
    </a>
  </div>
  <!--
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  
    <ul class="nav navbar-nav navbar-right">
      <li class="{{#if active_home}}active{{/if}}"><a href="/">home</a></li>
      <li class="{{#if active_liked}}active{{/if}}"><a href="/likedBooks">liked</a></li>
      <li class="{{#if active_friends}}active{{/if}}"><a href="/friends">my friends</a></li>
      <li class="{{#if active_recommendations}}active{{/if}}"><a href="/recommendations">my profile</a></li>
    </ul>
  </div>
  </div>
  -->
</nav>