<nav class="navbar navbar-default" id="navbar-top">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="/">GetRead</a>
    <!-- maybe we will put something here, maybe we will not –MK, 3/3/16 
    <a href="/recommendations" class="navName">
      Test User
    </a>
    -->
  </div>
  <!-- old nav 
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  
    <ul class="nav navbar-nav navbar-right">
      <li class="{{#if active_home}}active{{/if}}"><a href="/">home</a></li>
      <li class="{{#if active_liked}}active{{/if}}"><a href="/likedBooks">liked</a></li>
      <li class="{{#if active_friends}}active{{/if}}"><a href="/friends">my friends</a></li>
      <li class="{{#if active_recommendations}}active{{/if}}"><a href="/recommendations">my profile</a></li>
    </ul>
  </div>
  </div>
  -->
</nav>