<!-- filename: recommendModal.handlebars
   created: 2/18/16 
   created by: Raquel Calderon -->

<div id="recommendModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content -->
		<div class="modal-content">        
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Recommend this book to</h4>
			</div>
			<div class="modal-body">
				<button id="recCommunity" class="btn btn-default" data-toggle="modal" data-target="#recommendCommunityModal" data-dismiss="modal">Community</button>
				<p>Let the community at large know that you think this book is a great read.</p>
				<a id="recFriend" class="btn btn-default" data-toggle="modal" data-target="#recommendFriendModal" data-dismiss="modal">Friend</a>
				<p>Let a friend know that you think they would like this.</p>
        	</div>
        	<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        	</div>
		</div>
	</div>
</div>

<!-- Recommend to community modal -->
{{> recommendCommunityModal}}

<!-- Recommend to friend modal -->
{{> recommendFriendModal}}