<!-- filename: recommendModal.handlebars
   created: 2/18/16 
   created by: Raquel Calderon -->
   
<div id="recommendFriendModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content -->
		<div class="modal-content">        
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Recommend to a friend</h4>
			</div>
			<div class="modal-body">
				<form>
					<p>Let a friend know that you think they would like this book.</p>
					<div class="form-group">
						<label for="selFriend">Select a friend:</label>
						<select class="form-control" id="selFriend">
							{{#each friends}}
							<option value="{{username}}">{{fullName}}</option>
							{{/each}}
						</select>
					</div>
				</form>
        	</div>
        	<div class="modal-footer">
        		<button id="recommendToFriendSubmit" type="button" class="btn btn-primary" data-toggle="modal" data-target="#recommendFriendSuccessModal"data-dismiss="modal">Recommend!</button>
        		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        	</div>
		</div>
	</div>
</div>

<!-- Recommend to friend success modal -->
{{> recommendFriendSuccessModal}}