<!-- filename: recommendFriendSuccessModal.handlebars
   created: 2/18/16 
   created by: Raquel Calderon -->

<div id="recommendCommunityModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content -->
		<div class="modal-content">        
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Successfully Recommended!</h4>
			</div>
			<div class="modal-body">
				<p>You've recommended this book to a friend!</p>
        	</div>
        	<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
		</div>
	</div>
</div>