<!-- filename: booklist.handlebars
	 created: 2/8/16 
	 created by: Marisa Kanemoto | mkanemoto@ucsd.edu -->

<!DOCTYPE html> 
<html lang ="en">
<head> 
	<title>All Books</title>
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bookpage.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/getRead.css">
</head>

<body> 
	{{#each books}}
	<table>
		<tr>
			<img src="{{coverSource}}"> 
		</tr>
		<tr>
			<p class="title">{{title}}</p>
			<p>By {{author}}</p>
			<p>{{description}}</p>
		</tr>
	</table>
	{{/each}}

	<script src="js/jquery-1.11.0.js"></script> 
	<script src="js/bootstrap.min.js"></script>
</body>
</html> <!--the last --> 