<!--filename: GetRead/public/views/friends.handlebars
	created on: 2/18/16--> 
	
<!doctype html> 
<html> 
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--put everything else after those 3 meta tags -->
	<title>My Friends</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/friends.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/getRead.css">
</head>
<body>
{{> nav active_friends=true}}
	<h1 class="page-heading">My Friends</h1>

	<center>
		<form class="navbar-form navbar-center" role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
		</form>
	</center>

	<hr />

	{{#each friends}}
	<div class="friend">
		<div class="picContainer"><img class="profPic img-responsive" src="{{profPic}}"></div>
		<div class="everythingElse">
			<p class="username">{{username}}</p>
			<p class="username">{{fullName}}</p>
			<a href="#" class="btn btn-primary btn-xs" role="button">View Profile</a>
		</div>
		<hr />
	</div>
	{{/each}}

<!--
	<div class="friend">
		<div class="picContainer"><img class="profPic img-responsive" src="images/profMarisa.png"></div>
		<div class="everythingElse">
			<p class="username">mkanemoto</p>
			<a href="#" class="btn btn-primary btn-xs" role="button">View Profile</a>
			<button class="{{#if recommended}} recommended {{/if}}booktBtn btn btn-default" id="recBtn">R</button>
		</div>
		<hr />
	</div>
	<div class="friend">
		<div class="picContainer"><img class="profPic img-responsive" src="images/profRocky.png"></div>
		<div class="everythingElse">
			<p class="username">rcaldero</p>
			<a href="#" class="btn btn-primary btn-xs" role="button">View Profile</a>
			<button class="{{#if recommended}} recommended {{/if}}booktBtn btn btn-default" id="recBtn">R</button>
		</div>
		<hr />
	</div>
	<div class="friend">
		<div class="picContainer"><img class="profPic img-responsive" src="images/profTim.png"></div>
		<div class="everythingElse">
			<p class="username">tim</p>
			<a href="#" class="btn btn-primary btn-xs" role="button">View Profile</a>
			<button class="{{#if recommended}} recommended {{/if}}booktBtn btn btn-default" id="recBtn">R</button>
		</div>
		<hr />
	</div>
-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>