<!--filename: public/liked.handlebars 
	created on: 2/11/16 
	created by: Marisa Kanemoto | mkanemoto@ucsd.edu --> 

<!doctype html> 
<html> 
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--put everything else after those 3 meta tags -->
	<title>Liked</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/liked.css" rel="stylesheet">
	<link href="css/getRead.css" rel="stylesheet" type="text/css">
</head>
<body>
{{> nav active_liked=true}}
	<h1 class="page-heading">Liked Books</h1>
	<hr>
	{{#each likes}}
		<div class="book">
			<p class="title">{{title}}</p>
			<p class="author">{{author}}</p>
			<a href="/book/{{title}}">
				<img src="{{coverSource}}" class="img" width="200px" id= "likedCover">
			</a>
		</div>
		<hr>
	{{/each}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>