<!--filename: public/recommendations.html 
	created on: 2/11/16 
	created by: Marisa Kanemoto | mkanemoto@ucsd.edu --> 

<!doctype HTML>

<html> 
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--put everything else after those 3 meta tags -->
	<title>Recommendations</title>
	<link href="css/recommendations.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/getRead.css">
	<link rel="stylesheet" type="text/css" href="css/getRead.css">
	
</head>
<body>
{{> nav}}

	<!-- content goes here -->
	<div class = "boxes">
		<div class = "container1" id = "pic">
			<img src="images/profJin.png" class="img img-responsive" width = "120px">
		</div>

		<div class = "container2" id ="info">
			<h3> Jin Hwang (Demo) </h3>
			<p> 42 reccomendations</p>
			<p> 28 likes </p>
		</div>
	</div>
	
	<!-- selector 2 shit that i may or may not revisit later 
	<nav>
	<ul>
		<li><a href="#">Pages:</a>
			<ul>
				<li><a href="userReceived.html">Books recommended to you</a></li>
				<li><a href="userRecommended.html">Books you've recommended</a></li>
				<li><a href="newRec.html">Send new recommendations</a></li>
			</ul>
		</li>
	</ul>
	</nav>
	<hr />
	--> 
	<!-- feed starts here -->
	<div class="boxes">
		<h2> Recent Activity </h2>
	</div>
	<hr>
	{{#each recommendations}}
	<div class = "boxes">
		<div class = "container1" id = "pic">
			<img src="{{book.coverSource}}" class="img img-responsive" width = "60px">
		</div>

		<div class = "container2" id ="info">
			<p> <mark>You</mark> recommended {{book.title}} to {{toFullName}}</p>
		
		</div>
	</div>
	<hr>
	{{/each}}

	<div class = "boxes">
		<div class = "container1" id = "pic">
			<img src="images/the_koala_book.jpg" class="img img-responsive" width = "60px">
		</div>

		<div class = "container2" id ="info">
			<p> <mark>Kevin Lim</mark> recommended The Koala Book to you </p>
		
		</div>
	</div>
	<hr>
	<div class = "boxes">
		<div class = "container1" id = "pic">
			<img src="images/goldHeart.png" class="img img-responsive" width = "60px">
		</div>

		<div class = "container2" id ="info">
			<p> <mark>Marisa</mark> liked your recommendation Naruto!</p>
		
		</div>
	</div>
	<hr />

	<div class = "boxes">
		<div class = "container1" id = "pic">
			<img src="images/book2book.png" class="img img-responsive" width = "60px">
		</div>

		<div class = "container2" id ="info">
			<p> <mark> Alex Kim </mark> recommended One Punch Man </p>
		
		</div>
	</div>
	<hr>
	<div class = "boxes">
		<div class = "container1" id = "pic">
			<img src="images/harry_potter_sorcerors.jpg" class="img img-responsive" width = "60px">
		</div>

		<div class = "container2" id ="info">
			<p> <mark>Marisa</mark> recommended Harry Potter and the Sorceror's Stone to you </p>
		
		</div>
	</div>
{{> bottomnav active_recommendations=true}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>