/* filename: bookpage.css 
 * created: 2/3/16 
 * created by: Marisa Kanemoto / mkanemoto@ucsd.edu */

body {
	font-family: Helvetica; 
	text-align: center;
}

.title {
	font-size: 16px;
	font-style: italic;
}

.coverImage {
	width: 300px;
	height: 500px;
}