/*  filename: GetRead/public/css/friends.css
	created on: 2/18/16 */

.friend {
	display: inline-block;
}

.picContainer {
	float: left;
}

.everythingElse {
	float: right;
	margin-left: 40px;
	margin-top: 15px;
}

.username {
	font-weight: 400;
}

.profPic {
	width: 80px;
	height: 80px;
}

.container {
	padding-left: 2%;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
	margin-bottom: 5px;
}



