.page-heading {
	text-align: center;
}

.header {
	background-color: #21C69F; 
	margin-top: 0px;
	padding: 0.5em 0;
	margin-bottom: .5em;
}

.header-brand {
	font-size: 36px;
	font-weight: 500;
	color: white;
	text-align: center;
	margin: 0;
}

.navbar {
	background-color: #21C69F;
}

#navbar-top {
	margin-bottom: 10px
}

.navbar-default {
	border: none;
}

.navbar-default .navbar-nav> li>a{
	color: white;
}

.navbar-default .navbar-brand{
	color: white;
}

.navbar-header a{
	color: white;
}

.navName {
	float: right;
	padding-top: 1%;
	padding-right: 1%;
}

.navbar-fixed-bottom {
	position: fixed;
}

.navbar-btn {
	width: 20%;
	background-color: #21C69F;
}

.glyphicon {
	font-size: 14pt;
	color: #fff;
}



.btn.active {
	background-color: #1BA39C;
}

body {
	padding-bottom: 60px;
}

