.navbar{
	background-color: #4D7D9C;
}
.navbar-default .navbar-nav> li>a{
	color: white;
}

.navbar-default .navbar-brand{
	color: white;
}
.box {
	background-color: grey;
	width: 300px;
	height: 375px;
}
.content{
	padding-top: : 100px;
}

.navbar-header a{
	color: white;

}
.info {
	margin-top: 1em;
	width: 80%;
	height: 6em;
}

.title {
	float: left;
	color: white;
	font-size: 16px;
	font-weight: 600;
}

.author {
	float: left;
	color: white;
}

.appTitle {
	margin: 0;
	padding-top: 2px;
	color: white;
}

.cover {
	margin-top: 1em;
}

.buttons{ 
	width: 45%;
	margin-top: 3%;
}

#move{
	width:80%;
	margin-top: -2%
}

#next{
	float:right;
}

#prev{
	float: left;
}