.liked {
	background: url('../images/heart2.png') center no-repeat;
	background-size: 46.2px 42px;
}

.notLiked {
	background: url('../images/heart.png') center no-repeat;
	background-size: 46.2px 42px;
}

.bookBtn {
	margin: 0 8px;
}

#recBtn {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border-width: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#recBtnIcon {
	color: #21C69F;
	font-size: 30pt;
}

#likeBtn {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border-width: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
}

.my-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.center-text {
	text-align: center
}

#friend-icon {
	padding-left: 2%;
	position: absolute;
	right: 90%;
}

.info {
	margin-top: 0.25em;
	text-align: center;
}

.title {
	color: black;
	font-size: 16px;
	font-weight: 600;
}

.author {
	color: black;
}

.appTitle {
	margin: 0;
	padding-top: 2px;
	color: white;
}

#cover {
	max-height: 50vh;
}

.buttons{ 
	margin-top: 1%;
}

#move{
	width:80%;
	margin-top: -10%
}

#nextIcon {
	font-size: 35pt;
	color: #ccc;
}

#prevIcon {
	font-size: 35pt;
	color: #ccc;
}

.pos-r {
	position: relative;
}

.width-100 {
	width: 100vw
}