/* filename: public/css/recommendations.css
	created on: 2/11/16 
	created by: Marisa Kanemoto | mkanemoto@ucsd.edu */

hr {
	border-top: 1px dashed #d9d9d9;
}

/* keep recommendations elements inline */
.recommended-book-pic {
	max-width: 100px;
	display: inline-block;
	margin-right: 3em;
}
.from {
	display: inline-block;
	margin-bottom: 0;
}
.recommended-from {
	max-width: 50px;
	max-height: 50px;
	display: inline-block;
	margin-left: 6em;
}
.to {
	display: inline-block;
	margin-bottom: 0;
}
.recommended-to {
	max-width: 50px;
	max-height: 50px;
	display: inline-block;
	margin-left: 6em;
}
form {
	margin-left: 3em;
	margin-right: 3em;
}
