.boxes {
	display: inline-block;
}

.profPic {
	width: 80px;
	padding-left: 2%;
	float: left;
}

#pic {
	padding-left: 5%;
	float: left;
	width: 110px;
<<<<<<< HEAD
}

.bookCover {
	padding-left: 5%;
	float: left;
}

=======
}

.bookCover {
	padding-left: 5%;
	float: left;
}

>>>>>>> layoutB
#info {
	margin-top: -10px;
	padding-left: 20px;
	float: right;
}

.container1 {
	width: 15%;
}

.container2 {
	width: 60%;
	margin-top: -10px;
	padding-left: 20px;
	padding-right: 5%;
	float: right;
}
<<<<<<< HEAD

body {
	padding-left: 2%;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
=======

body {
	padding-left: 2%;
>>>>>>> layoutB
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}
