.boxes {
	display: inline-block;

}

#pic{
	padding-left: 20px;
	float:left;
}

#info{
	margin-top: -10px;
	padding-left: 20px;
	float: right;

}

.container2 {
	width: 200px;

}
