.page-header {
	margin: 0;
	background-color: #4D7D9C;
}

.info {
	margin-top: 1em;
	width: 80%;
}

.title {
	float: left;
	font-size: 16px;
	font-weight: 600;
}

.author {
	float: left;
}

.appTitle {
	margin: 0;
	padding-top: 2px;
	color: white;
}

.cover {
	margin-top: 1em;
}

.buttons{ 
	width: 45%;
	margin-top: 3%;
}